DATABASE_URL='postgresql+asyncpg://postgres:password@localhost:5432/junior_scrapper_db'

DATABASE_HOST='localhost'
DATABASE_NAME='junior_scrapper_db'
DATABASE_USER='postgres'
DATABASE_PASSWORD=
DATABASE_SSLMODE='disable'
DATABASE_PORT='5432'