DATABASE_URL='postgresql+asyncpg://postgres:password@localhost:5432/junior_scrapper_db'

DATABASE_HOST='localhost'
DATABASE_NAME='junior_scrapper_db'
DATABASE_USER='postgres'
DATABASE_PASSWORD=
DATABASE_SSLMODE='disable'
DATABASE_PORT='5432'

PROXY_LIST=

COOKIES_ENABLED='true'
COOKIE_TARGET_POOL_SIZE='5'
COOKIE_TTL_HOURS='6'
WARMER_ENABLED='true'
WARMER_REFRESH_INTERVAL='60'
WARMER_REFRESH_MARGIN_MIN='30'
WARMER_HEADLESS='true'